<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>福禄蔬菜店</title>
        <link rel="shortcut icon" href="../favicon.ico">
        <!--不同屏幕尺寸根字体设置-->
        <script src="./../js/base.js"></script>
        <!--element-ui的样式-->
        <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
        <!--引入vant样式-->
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <!-- 引入样式  -->
        <link rel="stylesheet" href="../styles/index.css" />
        <!--本页面内容的样式-->
        <link rel="stylesheet" href="./../styles/add-order.css" />
    </head>
    <body>
        <div id="add_order" class="app">
            <div class="divHead">
                <div class="divTitle">
                    <i class="el-icon-arrow-left" @click="goBack"></i>福禄蔬菜店
                </div>
            </div>
            <div class="divContent">
                <div class="divAddress">
                    <div @click="toAddressPage">                    
                        <div class="address">{{address.detail}}</div>
                        <div class="name">
                            <span>{{address.consignee}}{{address.sex === '1' ? '先生':'女士'}}</span>
                            <span>{{address.phone}}</span>
                        </div>
                        <i class="el-icon-arrow-right"></i>
                    </div>
                    <div class="divSplit"></div>
                    <div class="divFinishTime">预计{{finishTime}}送达</div>
                </div>
                <div class="order">
                    <div class="title">订单明细</div>
                    <div class="divSplit"></div>
                    <div class="itemList">
                        <div class="item" v-for="(item,index) in cartData" :key="index">
                            <el-image :src="imgPathConvert(item.image)">
                                <div slot="error" class="image-slot">
                                    <img src="./../images/noImg.png"/>
                                </div>
                            </el-image>
                            <div class="desc">
                                <div class="name">{{item.name}}</div>
                                <div class="numPrice">
                                    <span class="num">x{{item.number}}</span>
                                    <div class="price">
                                        <span class="spanMoney">￥</span>{{item.amount}}</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="voucher">
                    <div class="title">优惠券</div>
                    <div class="divSplit"></div>
                    
                    <!-- 已使用优惠券状态 -->
                    <div v-if="couponUsed && selectedCouponInfo" class="couponUsed">
                        <div class="usedInfo">
                            <p>已使用优惠券：{{selectedCouponInfo.name}}</p>
                            <p>已省下：<span style="color: red; font-weight: bold">￥{{countPrice}}</span></p>
                            <button @click="cancelCouponUse">取消使用</button>
                        </div>
                    </div>
                    
                    <!-- 未使用优惠券状态 -->
                    <div v-else class="itemList">
                        <div class="item" v-for="(item,index) in cartDataV" :key="index">
                            <el-image :src="imgPathConvert(item.image)">
                                <div slot="error" class="image-slot">
                                    <img src="./../images/noImg.png"/>
                                </div>
                            </el-image>
                            <div class="desc">
                                <div class="name">{{item.name}}</div>
                                <div class="numPrice">
                                    <span class="num">{{item.description}}</span>
                                    <div class="price">
                                        <span class="spanMoney">￥</span>{{item.price}}</div>
                                </div>
                            </div>
                            <div v-if="item.id">
                                <button @click="selectCoupon(item.id, item)">使用优惠券</button>
                                <div v-if="showCouponDialog">
                                    <p style="color: red">是否使用优惠券？</p>
                                    <button @click="useCoupon(true)">是</button>
                                    <button @click="useCoupon(false)">否</button>
                                </div>
                            </div>
                            <div v-else>
                                <!-- 不显示优惠券按钮 -->
                                <p>此商品不能使用优惠券</p>
                            </div>
                        </div>
                        <div v-if="cartDataV.length === 0" class="noCoupon">
                            <p>暂无可用优惠券</p>
                        </div>
                    </div>
                </div>
                <div class="note">
                    <div class="title">备注</div>
                    <van-field
                        v-model="note"
                        rows="2"
                        autosize
                        type="textarea"
                        maxlength="50"
                        placeholder="请输入您需要备注的信息"
                        show-word-limit
                    />
                </div>
            </div>
            <div class="divCart">
                <div :class="{imgCartActive: cartData && cartData.length > 0, imgCart:!cartData || cartData.length<1}"></div>
                <div :class="{divGoodsNum:1===1, moreGoods:cartData && cartData.length > 99}" v-if="cartData && cartData.length > 0">{{ goodsNum }}</div>
                <div class="divNum">
                    <span>￥</span>
                    <span>{{goodsPrice}}</span>
                </div>
                <div class="divPrice"></div>
                <div :class="{btnSubmitActive: cartData && cartData.length > 0, btnSubmit:!cartData || cartData.length<1}" @click="goToPaySuccess">去支付</div>
              </div>
        </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../../backend/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../../backend/plugins/element-ui/index.js"></script>
        <!-- 引入vant样式 -->
        <script src="./../js/vant.min.js"></script>      
        <script src="./../api/address.js"></script>
        <!-- 引入axios -->
        <script src="../../backend/plugins/axios/axios.min.js"></script>
        <script src="./../js/request.js"></script>
        <script src="./../js/common.js"></script>
        <script src="./../api/main.js"></script>
        <script src="./../api/order.js"></script>
        <script src="./../api/voucher.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
        <script>
            new Vue({
                el:"#add_order",
                data(){                         
                            return {                             
                                address:{
                                    phone:'',//手机号
                                    consignee:'',//姓名
                                    detail:'',//详细地址
                                    sex:'1',
                                    id:undefined
                                },
                                finishTime:'',//送达时间
                                cartData:[],
                                cartDataV:[],
                                countPrice:0,// 优惠券金额
                                VoucherID:0,
                                VoucherOrederID:0,
                                selectedCouponId: 0, // 选中的优惠券ID
                                selectedCouponInfo: null, // 选中的优惠券信息
                                couponUsed: false, // 优惠券是否已使用
                                productPrice: 0,// 总金额
                                showCouponDialog: false,
                                note:''//备注信息
                            }
                },
                computed:{
                    // 果蔬数量
                    goodsNum(){
                        let num = 0
                        this.cartData.forEach(item=>{
                            num += item.number 
                        })
                        if(num <99){
                            return num
                        }else{
                            return '99+'
                        }
                    },
                    // 优惠劵价格
                    goodsPriceV(){
                        let price = 0
                        this.cartDataV.forEach(item=>{
                            this.VoucherID = item.id
                            price = item.price;
                        })
                        return price
                    },
                    // 原始购物车总价格（不考虑优惠券）
                    originalGoodsPrice() {
                        let price = 0
                        this.cartData.forEach(item=>{                             
                            // 确保每个item的number和amount都是数字类型
                            const num = Number(item.number) || 0;
                            const amt = Number(item.amount) || 0;
                            // 使用更精确的浮点数加法，避免精度问题
                            price = Number((price + (num * amt)).toFixed(2));
                        })
                        return Number(Number(price).toFixed(2)) || 0;
                    },
                    // 果蔬总价格（考虑优惠券后的价格）
                    goodsPrice(){                         
                        const originalPrice = this.originalGoodsPrice;
                        const countPrice = Number(Number(this.countPrice).toFixed(2)) || 0;
                        
                        // 如果优惠券金额大于或等于购物车总价，最终价格为0
                        if (countPrice >= originalPrice){                             
                            this.productPrice = 0;
                            return 0;
                        }
                        
                        // 确保计算结果保留2位小数，避免精度问题
                        const finalPrice = Number((originalPrice - countPrice).toFixed(2));
                        this.productPrice = finalPrice;
                        return finalPrice;
                    }
                },
                created(){
                    this.initData()
                },
                mounted(){},
                methods:{
                    goBack(){
                        history.go(-1)
                    },
                    // 选择要使用的优惠券
                    selectCoupon(couponId, couponInfo) {
                        this.selectedCouponId = couponId;
                        this.selectedCouponInfo = couponInfo; // 保存优惠券完整信息
                        this.showCouponDialog = true;
                    },
                    
                    // 使用优惠券
                    useCoupon(choice) {
                        // 处理用户选择
                        if (choice) {
                            // 检查优惠券ID是否有效
                            if (!this.selectedCouponId || this.selectedCouponId <= 0) {
                                alert('请选择有效的优惠券');
                                this.showCouponDialog = true;
                                return;
                            }
                            
                            const _this = this;
                            useCouponApi({
                                voucherID: this.selectedCouponId
                            })
                                .then(function(response) {
                                    console.log(response);
                                    if (response.code === 1) {
                                        // 优惠券使用成功
                                        _this.VoucherOrederID = _this.selectedCouponId;
                                        // 优先使用后端返回的优惠金额，但如果返回0或无效，则使用优惠券对象中的price属性
                                        let discountAmount = Number(response.data) || 0;
                                        // 如果后端返回的优惠金额为0且selectedCouponInfo有price属性，则使用优惠券的价格
                                        if (discountAmount === 0 && _this.selectedCouponInfo && _this.selectedCouponInfo.price) {
                                            discountAmount = Number(_this.selectedCouponInfo.price) || 0;
                                            console.log('使用优惠券对象中的价格作为优惠金额:', discountAmount);
                                        }
                                        _this.countPrice = discountAmount;
                                        _this.couponUsed = true; // 设置优惠券已使用状态
                                        _this.showCouponDialog = false;
                                        console.log('优惠券使用成功，节省金额:', _this.countPrice);
                                    } else {
                                        // 优惠券使用失败
                                        console.error('优惠券使用失败:', response.message || '未知错误');
                                        _this.showCouponDialog = false;
                                    }
                                })
                                .catch(function(error) {
                                    console.error('优惠券使用网络错误:', error);
                                    alert('网络错误，请稍后重试');
                                });
                        } else {
                            // 不使用优惠券
                            this.VoucherOrederID = '';
                            this.countPrice = 0; // 不使用优惠券时设置为0
                            this.showCouponDialog = false;
                        }
                    },
                    
                    // 取消使用优惠券
                    async cancelCouponUse() {
                        const _this = this;
                        try {
                            // 调用后端接口取消优惠券使用，恢复购物车原始价格
                            if (this.couponUsed && this.selectedCouponId) {
                                const response = await cancelCouponApi({
                                    voucherID: this.selectedCouponId
                                });
                                console.log('取消优惠券使用响应:', response);
                            }
                            
                            // 重置前端状态
                            this.VoucherOrederID = 0;
                            this.countPrice = 0;
                            this.couponUsed = false;
                            this.selectedCouponId = 0;
                            this.selectedCouponInfo = null;
                            
                            // 重新获取购物车数据以显示原始价格
                            await this.getCartData();
                            
                            console.log('已取消使用优惠券并恢复原始价格');
                        } catch (error) {
                            console.error('取消优惠券使用失败:', error);
                            // 即使后端调用失败，也重置前端状态
                            this.VoucherOrederID = 0;
                            this.countPrice = 0;
                            this.couponUsed = false;
                            this.selectedCouponId = 0;
                            this.selectedCouponInfo = null;
                            // 尝试重新获取购物车数据
                            await this.getCartData().catch(e => console.error('重新获取购物车数据失败:', e));
                        }
                    },
                    initData(){
                        //获取默认的地址
                        this.defaultAddress()
                        //获取购物车的商品
                        this.getCartData()
                        //获取优惠券的数据信息
                        this.getVoucher()
                    },
                    //获取默认地址
                    async defaultAddress(){
                        const res = await  getDefaultAddressApi()
                        if(res.code === 1){
                           this.address = res.data
                           this.getFinishTime()
                        }else{
                            window.requestAnimationFrame(()=>{
                                window.location.href = '/front/page/address-edit.html'
                            })
                        }
                    },
                    //获取送达时间
                    getFinishTime(){
                        let now = new Date()
                        let hour = now.getHours() +1
                        let minute = now.getMinutes()
                        if(hour.toString().length <2){
                            hour = '0' + hour
                        }
                        if(minute.toString().length <2){
                            minute = '0' + minute
                        }
                        this.finishTime = hour + ':' + minute
                    },
                    toAddressPage(){
                        window.requestAnimationFrame(()=>{
                            window.location.href = '/front/page/address.html'
                        })
                    },
                    //获取购物车数据
                    async getCartData(){
                        const res = await cartListApi({})
                        if(res.code === 1){
                            this.cartData = res.data
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    },
                    // 获取优惠券数据
                    async getVoucher(){
                        const res = await orderVApi({})
                        if(res.code === 1){
                            this.cartDataV = res.data
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    },
                    async goToPaySuccess() {                          
                        // 验证是否有收货地址
                        if (!this.address || !this.address.id) {
                            this.$notify({ type:'warning', message: '请先选择收货地址'});
                            return;
                        }
                        
                        // 验证是否有商品
                        if (!this.cartData || this.cartData.length === 0) {
                            this.$notify({ type:'warning', message: '购物车不能为空'});
                            return;
                        }
                        
                        const _this = this;
                        
                        // 添加调试信息
                        console.log('提交订单时的优惠券信息:');
                        console.log('- couponUsed:', this.couponUsed);
                        console.log('- selectedCouponId:', this.selectedCouponId);
                        console.log('- VoucherOrederID:', this.VoucherOrederID);
                        console.log('- countPrice:', this.countPrice);
                        console.log('- productPrice:', this.productPrice);
                        
                        // 确保优惠券ID一致性
                        const actualVoucherId = this.couponUsed && this.selectedCouponId ? this.selectedCouponId : this.VoucherOrederID;
                        console.log('实际使用的优惠券ID:', actualVoucherId);
                        
                        // 直接提交订单，优惠券验证已在使用时完成
                        // 提交订单，确保包含所有必要的优惠券信息
                        const params = {                          
                         remark: this.note, 
                         payMethod: 1, 
                         addressBookId: this.address.id, 
                         voucherId: actualVoucherId || null, 
                         voucherAmount: this.countPrice, // 优惠券金额 
                         originalAmount: this.originalGoodsPrice, // 原始价格（使用优惠券之前的购物车价格）
                         amount: this.productPrice // 最终支付价格（与后端字段名保持一致） 
                     }
                        
                        try {
                            console.log('提交的订单参数:', params);
                            const res = await addOrderApi(params)
                            console.log('订单提交响应:', res);
                            
                            if(res.code === 1){
                                // 订单提交成功，清除购物车
                                await clearCartApi(); // 调用清空购物车的API
                                
                                // 后端会自动处理优惠券状态更新和order_voucher表记录
                                // 前端不需要额外调用接口更新优惠券状态
                                
                                window.requestAnimationFrame(()=>{
                                    window.location.replace('/front/page/pay-success.html')
                                })
                            }else{
                                this.$notify({ type:'warning', message: res.message || '订单提交失败'});
                                // 如果是优惠券相关错误，清除选择
                                if(res.message && res.message.includes('优惠券')) {                                    
                                    _this.VoucherOrederID = '';
                                    _this.countPrice = 0;
                                    _this.couponUsed = false;
                                    _this.selectedCouponId = 0;
                                    _this.selectedCouponInfo = null;
                                }
                            }
                        } catch(error) {
                            console.error('订单提交失败:', error);
                            this.$notify({ type:'warning', message: '网络错误，请稍后重试'});
                        }
                    },
                    //网络图片路径转换
                    imgPathConvert(path){
                        return imgPath(path)
                    },
                }
            })
            </script>
        </body>
    </html>